@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    background-color: #6a08ff;
    &__inner{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px;
        .top{
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav{
                .header__btn{
                    display: none;
                    cursor: pointer;
                    margin-left: 30px;
                    padding-left: 1.25em;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    &-top {
                        top: 0;
                    }
                    &-middle {
                        top: 15px;
                    }
                    &-bottom {
                        top: 30px;
                    }
                    &-top-click {
                        backface-visibility: hidden;
                        top: 15px;
                        transform: rotate(50deg);
                        transition: 0.55s 0.5s;
                    }
                    &-middle-click {
                        opacity: 0;
                    }
                    &-bottom-click {
                        backface-visibility: hidden;
                        top: 15px;
                        transform: rotate(-410deg);
                        transition: 0.55s 0.5s;
                    }
                    &-global {
                        backface-visibility: hidden;
                        position: absolute;
                        left: 0;
                        border-top: 7px solid #fff;
                        width: 100%;
                        transition: 0.55s;
                    }
                }
                ul{
                    float: right;
                    display: flex;
                    justify-content: space-between;
                    li{
                        a{
                            padding: 0 28px;
                            &:hover{
                                color: #ff5f60;
                            }
                        }
                    }
                }
            }
        }
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 150px 0;
            .left{
                color: #fff;
                max-width: 570px;
                h1{
                    font-size: 3em;
                }
                p{
                    padding: 20px 0;
                }
                .btn{
                    font-weight: 700;
                }
            }
            .right{
                img{
                    width: 100%;
                }
            }
        }
    }
}

.main{
    &__inner{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px;
        .item{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 70px 0;
            &:nth-child(2n){
                flex-direction: row-reverse;
            }
            &-right{
                max-width: 570px;
                h2{
                    font-weight: 100;
                }
                p{
                    font-size: 17px;
                    color: #8c8c8c;
                }
                .btn:hover{
                    background-color: #6a08ff;
                    color: #5fffff;
                }
            }
            &-left{
                img{
                    width: 100%;
                }
            }
        }
    }
}

.middle{
    padding-bottom: 80px;
    &__inner{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        .item{
            max-width: 400px;
            text-align: center;
            padding: 0 30px;
            p{
                font-size: 17px;
                color: #8c8c8c;
            }
        }
    }
}

.footer{
    background-color: #6a08ff;
    &__inner{
        max-width: 1280px;
        margin: 0 auto;
        padding: 40px 15px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        .left{
            display: flex;
            justify-content: space-between;
            color: #c9c9c9;
            li{
                padding: 0 10px;
            }
        }
        .right{
            display: flex;
            justify-content: space-between;
            li{
                padding: 0 10px;
                a:hover{
                    color: #ff5f60;
                }
            }
        }
    }
}

#modal input {
    display: block;
    width: 200px;
    margin-bottom: 40px;
    margin-left: 60px;
    border-style: none;
    border-radius: 10em 0 0 10em;
    outline: none;
    height: 40px;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
#modal {
    width: 370px;
    position: relative;
    background-color: #ff5f60;
    border-top: 8px solid #183251;
    border-radius: 8px;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 79%;
    left: 20px;
    h3{
        color: #fff;
    }
    p{
        color: #ffafb0;
        font-size: 14px;
    }
    .close{
        background: rgba(30,30,30,.3);
        border: 0;
        border-radius: 0;
        box-shadow: none;
        cursor: pointer;
        display: inline-block;
        height: 44px;
        margin: 0;
        position: absolute;
        transition: color .2s;
        vertical-align: top;
        visibility: inherit;
        width: 44px;
        color: currentColor;
        padding: 10px;
        right: 0;
        top: 0;
        &:focus{
            outline: none;
        }
    }
}
.modal__btn {
    text-align: center;
}
.modal__btn-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border-radius: 0 10em 10em 0;
    border-style: none;
    padding: 20px 20px 20px 30px;
    background-color: #1f3148;
    cursor: pointer;
    position: relative;
    z-index: 2;
    cursor: pointer;
    outline: none;
    color: #fff;
    &::before{
        content: " ";
        position: absolute;
        background-image: url(../img/send-icon.png);
        width: 20px;
        height: 20px;
        left: 12px;
        top: 8px;
    }
}
.form{
    display: flex;
}


@import "media";
